/* base components */

.icon-star {
    border-radius: 24px;
    padding: 16px;
    width: 48px;
    height: 48px;
    background-color: #262E38;
}

.btn-rating {
    display: flex;
    border: 0;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
    width: 42px;
    height: 42px;
    font-size: 16px;
    color: #969FAD;
    background-color: #262E38;
    border-radius:25.5px;
}

.rating-buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.Submit-btn {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #131518;
    justify-content: center;
    width: 100%;
    margin-top: 32px;
    display: flex;
    align-items: center;
    background-color: #FC7614;
    border-radius: 22.5px;
    padding: 6px 136px;
    height: 45px;
}

* {
    font-family: 'Overpass', sans-serif;
    box-sizing: border-box;
}

h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
}

p {
    color: #969FAD;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}



/**** base body ****/

.wrapper {
    margin: 153px 24px 154px 24px;

    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: #262E38;
}

.rating-card {
    border-radius: 30px;
    background: #232A34 radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    width: 100%;
}

.rating-content {
    padding: 28.5px 24px 28.5px 24px;
}